/*body{
  background-image: url('http://hdwyn.com/wallpaper/field_grass_rain_clouds_wind_weather_hd-wallpaper-46204.jpg');
  background-size: cover;
}*/
h1{
  color: black;
}
header{
  text-align: center;
}
